.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    border-radius:0px !important;
    color:white !important;
}
.closeButton:focus, .closeButton.focus{
    box-shadow:none !important;
}
.closeButton:hover{
    background:transparent!important;
}
.closeButton.edit{
    right: 20px !important;
}
