.centerButton{
    width  :100%;
    height: 100%;
    position: absolute;

}
.centerButton > .center{
    height: 100px;
    width :100px;
    border-radius:50%;
    border: 1px solid peachpuff;
    cursor: pointer;
}