.card.create-card{
    display: flex;
    align-self: center;
    justify-self: cener;
    margin: auto;
    width:80%;
}
.calenderClass{
    
}
.calenderClass >  .react-calendar__navigation{
    margin:0 !important;
}