.App{
  display: flex;
  height: 100vh;
  color: white;
}

.background-gradient1{
    background:linear-gradient(to top right,#34e89e, #0f3443);
}
.background-gradient2{
  background:linear-gradient(to right,#6190E8,#A7BFE8);
}

.background-gradient3{
  background:linear-gradient(to right,#43C6AC,#F8FFAE);
}
.absolute-center{
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%,-50%)!important;
}
.card.no-radius{
  border-radius:0px !important;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white ;
}